---
---
@import "{{ site.theme }}";

* {line-height: 2rem;}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{color: white;}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header-nav{
    display: flex;
    background-color: #000033;
    align-items: flex-start;
    gap: 30vw;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-nav .nav-title{
    color: white;
    margin: 10px;
    padding: 10px;
}

.header-nav .nav-fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-menu{
    display: flex;
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
}

#dark-mode {
    margin-left: 40px;
}

#light-mode {
    margin-left: 40px;
    display: none;
}

.header-nav .nav-socials{
    margin: 10px;
    padding: 10px;
    margin-left: auto;
}

.icon {color: white;}

.icon:hover {cursor: pointer;}

.more {
    display: none;
}

.page-banner{
    display: flex;
    background-image: url('/docs/assets/pictures/6-background.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-top: 70px;
    align-items: center;
}

.page-banner .project-name{
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.main-content {max-width: 70rem;}

#opening {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 45px;
    margin: 10px 0;
}

.fa-exclamation-triangle {
    color: orange;
    margin-right: 20px;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
    color: midnightblue;
}

.intro {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-and-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    }

.intro-text {
    margin-top: 20vh;
    text-align: justify;
}

.text-with-img {width: 400px;}

.text-img {
    width: 450px;
    text-align: center;
}

.text-img img {
    width: 100%;
    margin-top: 0.5rem;
}

#about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20vh;
    text-align: justify;
}

#biometric {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4rem 4rem;
    align-items: start;
    justify-items: start;
    column-gap: 10px;
}

#biometric h3 {grid-column: 1/5;}

#work-exp h3 {width: 100%;}

#work-exp img:hover {transform: scale(1.8);}

#interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20vh;
}

.inter {
    display: grid;
    column-gap: 40px;
    justify-items: start;
    align-items: center;
}

.inter-left {grid-template-columns: 1.5fr 1fr;}

.inter-right {grid-template-columns: 1fr 1.5fr;}

#keywords {width: 100%;}

.desktop-version-header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.desktop-version{display: block;}

@media screen and (max-width: 600px) {
    #nav-menu {display: none;}
    .header-nav {
        flex-direction: column;
        gap: 10px;
    }
    .header-nav .more {
         display: inline-flex;
     }
}