---
---
@import "{{ site.theme }}";

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(17, 17, 18, 0.9);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-nav .nav-title{
    color: white;
    margin: 10px;
    padding: 10px;
}

.header-nav .nav-menu{
    color: white;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav .nav-menu-mobile{
    color: white;
    margin: 10px;
    padding: 10px;
}

.header-nav .nav-socials{
    margin: 10px;
    padding: 10px;
    margin-left: auto;
}
.page-header{
    display: flex;
    background-image: url('/docs/assets/6-background.png');
    background-size: cover;
}


.fa-exclamation-triangle {
    color: orange;
  }

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
    color: midnightblue;
}

.column {
    float: left;
    padding: 10px;
  }
  .left{
    width: 35%;
  }
  .right{
    width: 60%;
  }
  .separator{
      width: 5%;
  }
  .interleft{
    width: 45%;
  }
  .interright{
    width: 45%;
  }
  .interseparator{
      width: 5%;
  }  

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .desktop-version{
    display: block;
  }
  .mobile-version{
    display: none;
  }
  @media screen and (max-width: 768px){
    .desktop-version{
      display: none;
    }
    .mobile-version{
      display: block;
    }
  }